// Copyright (C)2025 Gowin Semiconductor Corporation.
// Part Number: GW1NR-LV9QN88PC6/I5

IO_LOC "sw1" 69;
IO_PORT "sw1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "sw2" 68;
IO_PORT "sw2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "sw3" 57;
IO_PORT "sw3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "sw4" 56;
IO_PORT "sw4" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "ld1" 10;
IO_PORT "ld1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "ld2" 11;
IO_PORT "ld2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
